name: Test AWS EVENTS Put Targets

on: workflow_dispatch

permissions:
   id-token: write
   contents: read

jobs:
   run_adept:
      name: Put TEST EVENTS Target
      runs-on: ubuntu-latest
      environment: ${{ inputs.environment }}
      
      steps:
        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v2
          with:
            role-to-assume: arn:aws:iam::865144993338:role/github_usepa_actions_role
            aws-region: us-east-1
            

        - name: Put EVENTS Targets
          id: put-targets
          run: |
            set +e
            set -o pipefail
            echo '[{'                                                                                    >  targets.json
            echo '    "Arn": "arn:aws:ecs:us-east-1:865144993338:cluster/adept_staging"',                 >> targets.json
            echo '    "EcsParameters": {'                                                                >> targets.json
            echo '       "LaunchType": "FARGATE",'                                                        >> targets.json
            echo '       "NetworkConfiguration": {'                                                      >> targets.json
            echo '         "awsvpcConfiguration": {'                                                     >> targets.json
            echo '            "Subnets": ['                                                              >> targets.json
            echo '                "subnet-0abba381b502b5f0a",'                                            >> targets.json
            echo '               "subnet-0da4c8307a82b16e7"'                                            >> targets.json
            echo '             ],'                                                                        >> targets.json
            echo '             "SecurityGroups": ['                                                      >> targets.json
            echo '                "sg-0eb34ba9a62d20909"'                                                >> targets.json
            echo '             ],'                                                                        >> targets.json
            echo '            "AssignPublicIp": "DISABLED"'                                             >> targets.json
            echo '         }'                                                                            >> targets.json
            echo '       },'                                                                              >> targets.json
            echo '      "TaskDefinitionArn": "arn:aws:ecs:us-east-1:865144993338:task-definition/adept_staging"'          >> targets.json
            echo '    },'                                                                                 >> targets.json
            echo '"Input":"{\"containerOverrides\":[{\"name\":\"adept_staging\",\"command\":[\"AL\",\"1\",\"\"]}]}",'   >> targets.json
            echo '   "Id": "adept_staging",'                                           >> targets.json
            echo '   "RoleArn": "arn:aws:iam::865144993338:role/adept-ecsTaskExecutionRole"' >> targets.json
            echo '}]'                                                                                    >> targets.json
            cat targets.json
            aws events put-targets --region us-east-1 \
              --rule adept_staging_Test \
              --targets file://targets.json \
              | tee /tmp/tmp.json
            echo "exitcode=$?" >> $GITHUB_OUTPUT
 
            
            
